<h1 class='country-item'>{{name}}</h1>
<div class='info-container'>
  <div>
    <p class='country-title'><span>Capital: </span>{{capital}}</p>
    <p class='country-title'><span>Population: </span>{{population}}</p>
    <p class='country-title'><span>Languages: </span></p>
    <ul>
      {{#each languages}}
        <li>{{this.name}}</li>
      {{/each}}
    </ul>
  </div>
  <img class='country-flag' src='{{flag}}' alt='{{name}}' />
</div>